/* Soluzione qui */

/* TABLET */
@media screen and (min-width: 768px) {

    /* header */

    #topbar {
        justify-content: start;
    }


    /* main */

    main {
        padding: 47px;
    }

    /* Recipe header */

    .recipe-origin {
        display: inline-block;
    }

    .recipe-name {
        font-size: 1.7rem;
    }

    /* Quick Notes */

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        width: 33%;
        font-size: 17px;
    }

    .pie {
        text-align: center;
    }


    /*  SOCIAL NETWORKS */
    .social-networks {
        padding: 0 10px;
    }

    .social-networks .btn {
        width: 25%;
        padding: 10px 0;
    }

    /* ADS */
    .ads {
        display: block;
    }

    /* Recipe Presentation */

    .clearfix img {
        float: left;
        margin-right: 12px;
    }
}



/* DESKTOP */
@media screen and (min-width: 992px) {

    /* Utilities */

    .container {
        width: 70%;
        /* max-width: 1180px; */
        
    }

    /* Recipe header */

    .recipe-name {
        font-size: 2rem;
    }

    /* Recipe Card */

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 65%;
        height: auto;
    }

    .recipe-info {
        width: 35%;
    }

    .quick-notes ul {
        display: block;
    }

    .quick-notes li {
        width: 100%;
    }

    .pie {
        text-align: left;
    }


    /*  SOCIAL NETWORKS */
    .social-networks .label {
        display: inline-block;
    }


    /* FOOTER */

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }

    address {
        text-align: left;
    }
}
